{%- liquid
  assign social_icons = false
  assign inline_list = false
  assign locale_selector = false
  assign country_selector = false
  assign show_payment_icons = false
  assign show_selectors = false


  assign show_country_selector = section.settings.show_currency_selector
  if show_country_selector and localization.available_countries.size > 1
    assign country_selector = true
  endif

  if section.settings.show_locale_selector and localization.available_languages.size > 1
    assign locale_selector = true
  endif

  if section.settings.show_payment_icons
    unless shop.enabled_payment_types == empty
      assign show_payment_icons = true
    endunless
  endif

  if country_selector or locale_selector
    assign show_selectors = true
  endif

  if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or request.page_type == 'article' or request.page_type == 'blog'
    assign social_icons = true
  endif

  assign payment_width_class = "one-half"
  if show_selectors
    unless social_icons
      assign payment_width_class = ""
    endunless
  endif

  assign copyright_show_class = "medium-up--hide"
  if social_icons
    unless show_selectors
      assign copyright_show_class = ""
    endunless
  endif

  case section.blocks.size
    when 1
      assign footer_item = 'site-footer__item--full-width'
      assign inline_list = true
    when 2
      assign footer_item = 'site-footer__item--one-half'
      assign inline_list = true
    when 3
      assign footer_item = 'site-footer__item--one-third'
      for block in section.blocks
        if block.type == 'newsletter'
          assign footer_item = 'site-footer__item--one-quarter'
          break
        endif
      endfor
    when 4
      assign footer_item = 'site-footer__item--one-quarter'
    when 5
      assign footer_item = 'site-footer__item--one-fifth'
  endcase
-%}

{% comment %} Create an appropriate hover color based on text color and brightness {% endcomment %}
{%- liquid
  assign footer_text_color = section.settings.color_footer_text
  assign footer_text_color_brightness = section.settings.color_footer_text | color_brightness
  if footer_text_color_brightness <= 26
    assign footer_text_color_hover = footer_text_color | color_lighten: 25
  elsif footer_text_color_brightness <= 65
    assign footer_text_color_hover = footer_text_color | color_lighten: 15
  else
    assign footer_text_color_hover = footer_text_color | color_darken: 10
  endif
-%}

<style>
  .site-footer__hr {
    border-bottom: 1px solid {{ section.settings.color_footer_bg | color_darken: 10 }};
  }

  .site-footer p,
  .site-footer__linklist-item a,
  .site-footer__rte a,
  .site-footer h4,
  .site-footer small,
  .site-footer__copyright-content a,
  .site-footer__newsletter-error,
  .site-footer__social-icons .social-icons__link {
    color: {{ section.settings.color_footer_text }};
  }

  .site-footer {
    color: {{ section.settings.color_footer_text }};
    background-color: {{ section.settings.color_footer_bg }};
  }

  .site-footer__rte a {
    border-bottom: 1px solid {{ section.settings.color_footer_text }};
  }

  .site-footer__rte a:hover,
  .site-footer__linklist-item a:hover,
  .site-footer__copyright-content a:hover {
    color: {{ footer_text_color_hover }};
    border-bottom: 1px solid {{ footer_text_color_hover }};
  }

  .site-footer__social-icons .social-icons__link:hover {
    color: {{ footer_text_color_hover }};
  }
</style>


{%- capture payment_icon_markup -%}
  {%- if show_payment_icons -%}
    <div class="grid__item site-footer__payment-icons">
      <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
      <ul class="payment-icons list--inline site-footer__icon-list">
        {%- for type in shop.enabled_payment_types -%}
          <li class="payment-icon">
            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endcapture -%}

<footer class="site-footer critical-hidden" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="page-width">
    <div class="site-footer__content">
      {%- for block in section.blocks -%}

        <div class="site-footer__item
                    {% if section.blocks.size == 1 %} site-footer__item--center{% endif %}
                    {{ footer_item }}
                    {% if block.type == 'newsletter' and section.blocks.size == 3 %}site-footer-newsletter__one-half{% endif %}"
             {{ block.shopify_attributes }}>
          <div class="site-footer__item-inner site-footer__item-inner--{{ block.type }}">

            {%- if block.settings.title -%}
              <p class="h4">{{ block.settings.title | escape }}</p>
            {%- endif -%}

            {%- case block.type -%}
              {%- when 'newsletter' -%}
                <div class="site-footer__newsletter
                          {% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}">
                  {%- assign formId = 'ContactFooter' -%}
                  {% form 'customer', id: formId, novalidate: 'novalidate' %}
                    {%- if form.posted_successfully? -%}
                      <p class="form-message form-message--success" tabindex="-1" data-form-status>
                        {{ 'general.newsletter_form.confirmation' | t }}
                      </p>
                    {%- endif -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="input-group {% if form.errors %} input-group--error{% endif %}">
                      <input type="email"
                        name="contact[email]"
                        id="{{ formId }}-email"
                        class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
                        value="{{ form.email }}"
                        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        aria-required="true"
                        required
                        autocorrect="off"
                        autocapitalize="off"
                        {% if form.errors %}
                          aria-invalid="true"
                          aria-describedby="{{ formId }}-email-error"
                          data-form-status
                        {% endif %}>
                      <span class="input-group__btn">
                        <button type="submit" class="btn newsletter__submit" name="commit" >
                          <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                        </button>
                      </span>
                    </div>
                    {% if form.errors contains 'email' %}
                      <span id="{{ formId }}-email-error" class="input-error-message">
                        <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                        {% render 'icon-error' %}
                        <span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                      </span>
                    {% endif %}
                  {% endform %}
                </div>

              {%- when 'text' -%}
                {%- if block.settings.text != blank -%}
                  <div class="site-footer__rte
                              {% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}">
                      {{ block.settings.text }}
                  </div>
                {%- endif -%}

              {%- when 'link_list' -%}
                {%- assign footer_linklist = block.settings.menu -%}
                  <ul class="site-footer__linklist
                            {% if inline_list %}list--inline{% endif %}">
                    {%- for link in linklists[footer_linklist].links -%}
                      <li class="site-footer__linklist-item">
                        <a href="{{ link.url }}"
                          {% if link.current %} aria-current="page"{% endif %}
                        >
                          {{ link.title | escape }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>

            {%- endcase -%}

          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>

  <hr class="site-footer__hr">

  {%- assign socials = "Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}

  <div class="page-width">
    <div class="grid grid--no-gutters small--text-center grid--footer-float-right">
      {%- if show_selectors -%}
        <div class="grid__item one-half small--one-whole">
          {%- form 'localization', class: 'selectors-form', data-disclosure-form: '' -%}
            {%- if country_selector -%}
              <div class="selectors-form__item">
                <h2 class="visually-hidden" id="country-heading">
                  {{ 'general.country.dropdown_label' | t }}
                </h2>
                {%- assign current_currency_symbol = localization.country.currency.symbol -%}
                {%- assign current_currency_iso_code = localization.country.currency.iso_code -%}
                <div class="disclosure" data-disclosure-country>
                  <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="country-list" aria-describedby="country-heading" data-disclosure-toggle>
                    {%- if current_currency_symbol -%}
                      {{ localization.country.name }} ({{ current_currency_iso_code }} {{ current_currency_symbol }})
                    {%- else -%}
                      {{ localization.country.name }} ({{ current_currency_iso_code }})
                    {%- endif -%}
                  </button>
                  <ul id="country-list" class="disclosure-list" data-disclosure-list>
                    {% for country in form.available_countries %}
                      {%- assign currency_symbol = country.currency.symbol -%}
                      {%- assign currency_iso_code = country.currency.iso_code -%}
                      <li class="disclosure-list__item {% if country.iso_code == localization.country.iso_code %}disclosure-list__item--current{% endif %}">
                        <a class="disclosure-list__option" href="#" {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %} data-value="{{ country.iso_code }}" data-disclosure-option>
                          {%- if currency_symbol -%}
                            {{ country.name }} ({{ currency_iso_code }} {{ currency_symbol }})
                          {%- else -%}
                            {{ country.name }} ({{ currency_iso_code }})
                          {%- endif -%}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="country_code" id="CountrySelector" value="{{ localization.country.iso_code }}" data-disclosure-input/>
                </div>
              </div>
            {%- endif -%}

            {%- if locale_selector -%}
              <div class="selectors-form__item">
                <h2 class="visually-hidden" id="lang-heading">
                  {{ 'general.language.dropdown_label' | t }}
                </h2>

                <div class="disclosure" data-disclosure-locale>
                  <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
                    {{ localization.language.endonym_name }}
                  </button>
                  <ul id="lang-list" class="disclosure-list" data-disclosure-list>
                    {% for language in localization.available_languages %}
                      <li class="disclosure-list__item {% if language.iso_code == localization.language.iso_code %}disclosure-list__item--current{% endif %}">
                        <a class="disclosure-list__option" href="#" lang="{{ language.iso_code }}" {% if language.iso_code == localization.language.iso_code %}aria-current="true"{% endif %} data-value="{{ language.iso_code }}" data-disclosure-option>
                          {{ language.endonym_name }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                </div>
              </div>
            {%- endif -%}
          {%- endform -%}
        </div>
      {%- else -%}
        <div class="grid__item small--hide {{ payment_width_class }} {% if show_payment_icons %}site-footer-item-center-vertically{% endif %}">{{ payment_icon_markup }}</div>
      {%- endif -%}

      <div class="grid__item {% if show_selectors or show_payment_icons %}one-half{% endif %} small--one-whole site-footer-item-tall">
        {%- if social_icons -%}
          <ul class="list--inline site-footer__social-icons social-icons site-footer__icon-list">
            {%- for social in socials -%}
              {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
              {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
              {%- if settings[social_link] != blank -%}
                <li class="social-icons__item">
                  <a class="social-icons__link" href="{{ settings[social_link] | escape }}" aria-describedby="a11y-external-message">
                    {% liquid
                      case icon_link
                        when 'icon-twitter'
                          render 'icon-twitter'
                        when 'icon-facebook'
                          render 'icon-facebook'
                        when 'icon-pinterest'
                          render 'icon-pinterest'
                        when 'icon-instagram'
                          render 'icon-instagram'
                        when 'icon-tumblr'
                          render 'icon-tumblr'
                        when 'icon-snapchat'
                          render 'icon-snapchat'
                        when 'icon-youtube'
                          render 'icon-youtube'
                        when 'icon-vimeo'
                          render 'icon-vimeo'
                      endcase
                    %}
                    <span class="icon__fallback-text">{{ social }}</span>
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}

            {%- if request.page_type == 'blog' or request.page_type == 'article' -%}
              <li>
                <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                  {% render 'icon-rss' %}
                  <span class="icon__fallback-text">RSS</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- else -%}
          <div class="small--hide site-footer-item-align-right {% if show_selectors or show_payment_icons %}site-footer-item-center-vertically{% endif %}">
            <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
            <small class="site-footer__copyright-content site-footer__copyright-content-powered-by">{{ powered_by_link }}</small>
          </div>
        {%- endif -%}
      </div>

      {%- if show_selectors -%}
        <div class="grid__item small--hide {{ payment_width_class }}">{{ payment_icon_markup }}</div>
      {%- endif -%}

      <div class="grid__item medium-up--hide {{ payment_width_class }} small--one-whole">{{ payment_icon_markup }}</div>

      {%- if social_icons and show_selectors -%}
        <div class="grid__item small--hide site-footer-item-align-right {% if show_payment_icons %}one-half{% endif %}">
          <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
          <small class="site-footer__copyright-content site-footer__copyright-content--powered-by">{{ powered_by_link }}</small>
        </div>
      {%- endif -%}

      <div class="grid__item small--one-whole {{ copyright_show_class }} site-footer-item-align-right">
        <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
        <small class="site-footer__copyright-content site-footer__copyright-content--powered-by">{{ powered_by_link }}</small>
      </div>
    </div>
  </div>
</footer>



{% schema %}
{
  "name": "t:sections.footer.name",
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:sections.footer.settings.show_payment_icons.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content"
    },
    {
      "type": "color",
      "id": "color_footer_bg",
      "label": "t:sections.footer.settings.color_footer_bg.label",
      "default": "#f6f6f6"
    },
    {
      "type": "color",
      "id": "color_footer_text",
      "label": "t:sections.footer.settings.color_footer_text.label",
      "default": "#333232"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__3.info"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "t:sections.footer.settings.show_currency_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__4.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "t:sections.footer.settings.show_locale_selector.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.blocks.link_list.settings.title.label",
          "default": "Quick links"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:sections.footer.blocks.link_list.settings.link_list.label",
          "default": "footer"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.blocks.text.settings.title.label",
          "default": "Talk about your business"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.footer.blocks.text.settings.text.label",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": "t:sections.footer.blocks.newsletter.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.blocks.newsletter.settings.title.label",
          "info": "t:sections.footer.blocks.newsletter.settings.title.label",
          "default": "Newsletter"
        }
      ]
    }
  ]
}
{% endschema %}
