{%- liquid
  assign display_map = false
  assign onboarding = false
  assign bg_image = section.settings.background_image

  if section.settings.api_key == blank and bg_image == blank
    assign onboarding = true
  endif
  if section.settings.api_key != blank and section.settings.map_address
    assign display_map = true
  endif
-%}

<style>
  {% if bg_image.src != blank %}
  #MapSection--{{ section.id }} .map-section__image {
    background-position: {{ section.settings.background_image_position }};
  }

  @media only screen and (max-width: 750px) {
    #MapSection--{{ section.id }} .map-section__image {
      padding-top: {{ 1 | divided_by: bg_image.aspect_ratio | times: 100 }}%;
    }
  }
  {% endif %}
</style>


<div id="MapSection--{{ section.id }}"
     class="map-section
           {% if display_map %}map-section--display-map{% endif %}
           {% if onboarding == true %}map-section--onboarding{% endif %}"
     data-section-id="{{ section.id }}"
     data-section-type="map">
  <div class="page-width map-section__wrapper">
    <div class="map-section__content-wrapper">
      <div class="map-section__content">
        <h2 class="visually-hidden visually-hidden--static">{{ 'sections.map.section_heading' | t }}</h2>
        {% if section.settings.heading != blank %}
          <h3 class="h4">{{ section.settings.heading | escape }}</h3>
        {% endif %}
        {% if section.settings.address != blank %}
          <div class="rte-setting">{{ section.settings.address }}</div>
          {% if section.settings.map_address != blank and section.settings.button_text != blank %}
            <p>
              <a href="https://maps.google.com?daddr={{ section.settings.map_address | escape }}"
                 class="btn btn--secondary btn--small map_section__directions-btn"
                 target="_blank"
                 rel="noopener"
                 aria-describedby="a11y-new-window-external-message"
              >
                {% if section.settings.show_pin %}{% render 'icon-pin' %}{% endif %}
                <span>{{ section.settings.button_text | escape }}</span>
              </a>
            </p>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="map-section__background-wrapper">
      {% if bg_image != blank %}
        <div class="map-section__image" style="background-image: url({{ bg_image | img_url: 'x800', crop: 'top' }});"></div>
      {% elsif onboarding == true %}
        <div class="placeholder-background">
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}
      {% if display_map %}
        <div class="map-section__container"
             id="Map-{{ section.id }}"
             data-map
             data-address-setting="{{ section.settings.map_address | escape }}"
             data-api-key="{{ section.settings.api_key }}">
        </div>
        <div class="map-section__overlay" data-map-overlay></div>
      {% endif %}
    </div>
  </div>
</div>



{% schema %}
{
  "name": "t:sections.map.name",
  "class": "index-section index-section--flush-medium-up",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.map.settings.header__1.content"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "t:sections.map.settings.heading.label",
      "default": "Our store"
    },
    {
      "id": "address",
      "type": "richtext",
      "label": "t:sections.map.settings.address.label",
      "default": "<p>123 Fake St.<br>Toronto, Canada</p><p>Mon - Fri, 10am - 9pm<br>Saturday, 11am - 9pm<br>Sunday, 11am - 5pm</p>"
    },
    {
      "id": "map_address",
      "type": "text",
      "label": "t:sections.map.settings.map_address.label",
      "info": "t:sections.map.settings.map_address.info",
      "default": "301 Front St W, Toronto"
    },
    {
      "id": "button_text",
      "type": "text",
      "label": "t:sections.map.settings.button_text.label",
      "default": "Get directions"
    },
    {
      "id": "show_pin",
      "type": "checkbox",
      "label": "t:sections.map.settings.show_pin.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.map.settings.header__1.content"
    },
    {
      "id": "api_key",
      "type": "text",
      "label": "t:sections.map.settings.api_key.label",
      "info": "t:sections.map.settings.api_key.info"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.map.settings.background_image.label",
      "info": "t:sections.map.settings.background_image.info"
    },
    {
      "type": "select",
      "id": "background_image_position",
      "label": "t:sections.map.settings.background_image_position.label",
      "default": "center center",
      "options": [
        {
          "label": "t:sections.map.settings.background_image_position.options__1.label",
          "value": "top left"
        },
        {
          "label": "t:sections.map.settings.background_image_position.options__2.label",
          "value": "top center"
        },
        {
          "label": "t:sections.map.settings.background_image_position.options__3.label",
          "value": "top right"
        },
        {
          "label": "t:sections.map.settings.background_image_position.options__4.label",
          "value": "center left"
        },
        {
          "label": "t:sections.map.settings.background_image_position.options__5.label",
          "value": "center center"
        },
        {
          "label": "t:sections.map.settings.background_image_position.options__6.label",
          "value": "center right"
        },
        {
          "label": "t:sections.map.settings.background_image_position.options__7.label",
          "value": "bottom left"
        },
        {
          "label": "t:sections.map.settings.background_image_position.options__8.label",
          "value": "bottom center"
        },
        {
          "label": "t:sections.map.settings.background_image_position.options__9.label",
          "value": "bottom right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.map.presets.name",
      "category": "t:sections.map.presets.category"
    }
  ]
}
{% endschema %}
