<div class="password-content">
  {% if section.settings.logo %}
    {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '.' -%}
    <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-image" data-image-loading-animation>
      {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
      <img class="js"
          src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
          data-sizes="auto"
          loading="lazy"
          width="auto"
          height="auto"
          alt="{{ logo_alt | escape }}"
          style="max-width: {{ section.settings.logo_max_width }}px">
      <noscript>
        {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
            srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
            loading="lazy"
            alt="{{ section.settings.logo.alt | default: shop.name }}"
            itemprop="logo"
            width="auto"
            height="auto"
            style="max-width: {{ section.settings.logo_max_width }}px;">
      </noscript>
    </a>
  {% else %}
    <h1 class="site-header__logo-link">
      <span class="logo">{{ shop.name }}</span>
    </h1>
  {% endif %}

  <span class="h2 password-content__title">{{ section.settings.header | escape }}</span>
</div>


{% schema %}
{
  "name": "t:sections.password-header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.password-header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "t:sections.password-header.settings.logo_max_width.label",
      "min": 50,
      "max": 500,
      "step": 10,
      "unit": "px",
      "default": 100
    },
    {
      "type": "text",
      "id": "header",
      "label": "t:sections.password-header.settings.header.label",
      "default": "Coming Soon"
    }
  ]
}
{% endschema %}
