<div class="product-template__container page-width"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
  data-ajax-enabled="{{ settings.enable_ajax }}"
>
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- liquid
    assign current_variant = product.selected_or_first_available_variant
    assign product_image_zoom_size = '1024x1024'
    assign product_image_scale = '2'
    assign enable_image_zoom = section.settings.enable_image_zoom
  -%}

  {%- liquid
    case section.settings.media_size
      when 'small'
        assign product_media_width = 'medium-up--one-third'
        assign product_description_width = 'medium-up--two-thirds'
        assign height = 345
      when 'medium'
        assign product_media_width = 'medium-up--one-half'
        assign product_description_width = 'medium-up--one-half'
        assign height = 530
      when 'large'
        assign product_media_width = 'medium-up--two-thirds'
        assign product_description_width = 'medium-up--one-third'
        assign height = 720
      when 'full'
        assign product_media_width = ''
        assign product_description_width = ''
        assign height = 1090
        assign enable_image_zoom = false
    endcase
  -%}

  <div class="grid product-single{% if section.settings.enable_payment_button %} product-single--{{ section.settings.media_size }}-media{% endif %}">
    <div class="grid__item product-single__media-group {{ product_media_width }}{% if section.settings.media_size == 'full' %} product-single__media-group--full{% endif %}" data-product-single-media-group>
      {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

      {%- for media in product.media -%}
        {% render 'media', media: media, featured_media: featured_media, height: height, enable_image_zoom: enable_image_zoom, image_zoom_size: product_image_zoom_size, image_scale: product_image_scale %}
      {%- endfor -%}

      <noscript>
        {% capture product_image_size %}{{ height }}x{% endcapture %}
        <img src="{{ featured_media | img_url: product_image_size, scale: product_image_scale }}" loading="lazy" alt="{{ featured_media.alt }}" id="FeaturedMedia-{{ section.id }}" class="product-featured-media" width="auto" height="auto" style="max-width: {{ height }}px;">
      </noscript>

      {% assign first_3d_model = product.media | where: "media_type", "model" | first %}

      {%- if first_3d_model -%}
        <button
          aria-label="{{ 'products.product.view_in_space_label' | t }}"
          class="product-single__view-in-space"
          data-shopify-xr
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >
          {% render 'icon-3d-badge-full-color' %}<span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
        </button>
      {%- endif -%}


      {% if product.media.size > 1 %}
        {% if product.media.size > 4 %}
          {%- assign enable_thumbnail_slides = true -%}
        {% endif %}

        <div data-thumbnail-slider>
          <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} slider-active{% endif %}" data-slider>
            {% if enable_thumbnail_slides == true %}
              <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}" data-slider-button>
                {% render 'icon-chevron-left' %}
                <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
              </button>
            {% endif %}

            <ul class="product-single__thumbnails product-single__thumbnails-{{ section.id }}" data-slider-container>
              {% if enable_thumbnail_slides == true %}
                <div class="product-single__thumbnails-slider-track" data-slider-track>
              {% endif %}

              {% for media in product.media %}
                <li class="product-single__thumbnails-item product-single__thumbnails-item--{{ section.settings.media_size }} {% if enable_thumbnail_slides == true %} product-single__thumbnails-item-slide{% endif %} js"{% if enable_thumbnail_slides == true %} data-slider-slide-index="{{ forloop.index0 }}" data-slider-item{% endif %}>
                  <a href="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"
                    class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                    data-thumbnail-id="{{ section.id }}-{{ media.id }}"
                    {% if enable_thumbnail_slides == true %} data-slider-item-link{% endif %}
                    {% if enable_image_zoom %}data-zoom="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>

                      {%- capture thumbnailAlt -%}
                        {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                          {{ 'sections.featured_product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                        {%- elsif media.media_type == 'model' -%}
                          {{ 'sections.featured_product.model_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                        {%- else -%}
                          {{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                        {%- endif -%}
                      {%- endcapture -%}

                      <img class="product-single__thumbnail-image" src="{{ media.preview_image | img_url: '110x110', scale: 2 }}" width="auto" height="auto" loading="lazy" alt="{{ thumbnailAlt }}">
                      {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                        <div class="product-single__thumbnail-badge">
                          {% render 'icon-video-badge-full-color' %}
                        </div>
                      {%- endif -%}
                      {%- if media.media_type == 'model' -%}
                        <div class="product-single__thumbnail-badge">
                          {% render 'icon-3d-badge-full-color' %}
                        </div>
                      {%- endif -%}
                  </a>
                </li>
              {% endfor %}

              {% if enable_thumbnail_slides == true %}
                </div>
              {% endif %}
            </ul>
            {% if enable_thumbnail_slides == true %}
              <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}" data-slider-button data-slider-button-next>
                {% render 'icon-chevron-right' %}
                <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
              </button>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>

    <div class="grid__item {{ product_description_width }}">
      <div class="product-single__meta">
        
        {% for block in section.blocks %}
          {% case block.type %}
            {% when '@app' %}
              {% render block %}
            {% when 'title' %}
              <h1 class="product-single__title">{{ product.title }}</h1>
              <script>window.performance.mark('debut:product:title_visible');</script>
            {% when 'price' %}
              <div class="product__price">
                {% render 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor %}
              </div>

              {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
                <div class="product__policies rte" data-product-policies>
                  {%- if cart.taxes_included -%}
                    {{ 'products.product.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </div>
              {%- endif -%}
            {% when 'buttons' %}
              {% capture "form_classes" -%}
                product-form product-form-{{ section.id }}
                {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
                {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
              {%- endcapture %}

              {% form 'product', product, class: form_classes, novalidate: 'novalidate', data-product-form: '' %}
                {{ form | payment_terms }}

                {% unless product.has_only_default_variant %}
                  <div class="product-form__controls-group">
                    {% for option in product.options_with_values %}
                      <div class="selector-wrapper js product-form__item">
                        <label for="SingleOptionSelector-{{ forloop.index0 }}">
                          {{ option.name }}
                        </label>
                        <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input"
                          id="SingleOptionSelector-{{ forloop.index0 }}"
                          data-index="option{{ forloop.index }}"
                        >
                          {% for value in option.values %}
                            <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    {% endfor %}
                  </div>
                {% endunless %}

                <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
                  {% for variant in product.variants %}
                    <option value="{{ variant.id }}"
                      {%- if variant == current_variant %} selected="selected" {%- endif -%}
                    >
                      {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                    </option>
                  {% endfor %}
                </select>

              {% if section.settings.show_quantity_selector %}
                <div class="product-form__controls-group">
                  <div class="product-form__item">
                    <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                    <input type="number" id="Quantity-{{ section.id }}"
                      name="quantity" value="1" min="1" pattern="[0-9]*"
                      class="product-form__input product-form__input--quantity" data-quantity-input
                    >
                  </div>
                </div>
              {% endif %}

                <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
                  data-error-message-wrapper
                  role="alert"
                >
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% render 'icon-error' %}
                  <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
                </div>

                <div class="product-form__controls-group product-form__controls-group--submit">
                  <div class="product-form__item product-form__item--submit
                    {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                    {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}"
                  >
                    <button type="submit" name="add"
                      {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                      aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                      class="btn product-form__cart-submit{% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} btn--secondary-accent{% endif %}"
                      {% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
                      data-add-to-cart>
                      <span data-add-to-cart-text>
                        {% unless current_variant.available %}
                          {{ 'products.product.sold_out' | t }}
                        {% else %}
                          {{ 'products.product.add_to_cart' | t }}
                        {% endunless %}
                      </span>
                      <span class="hide" data-loader>
                        {% render 'icon-spinner' %}
                      </span>
                    </button>
                    {% if section.settings.enable_payment_button %}
                      {{ form | payment_button }}
                    {% endif %}
                  </div>
                </div>
              {% endform %}
            {%- when 'description' -%}
              <div class="product-single__description rte">
                {{ product.description }}
              </div>
            {%- when 'share' -%}
              {% if section.settings.show_share_buttons %}
                {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
              {% endif %}
            {%- when 'custom_liquid' -%}
              {{ block.settings.custom_liquid }}
          {% endcase %}
        {% endfor %}
      </div>

      {%- comment -%}
        Live region for announcing updated price and availability to screen readers
      {%- endcomment -%}
      <p class="visually-hidden" data-product-status
        aria-live="polite"
        role="status"
      ></p>

      {%- comment -%}
        Live region for announcing that the product form has been submitted and the
        product is in the process being added to the cart
      {%- endcomment -%}
      <p class="visually-hidden" data-loader-status
        aria-live="assertive"
        role="alert"
        aria-hidden="true"
      >{{ 'products.product.loader_label' | t }}</p>

      <div
        class="product-single__store-availability-container"
        data-store-availability-container
        data-product-title="{{ product.title | escape }}"
        data-has-only-default-variant="{{ product.has_only_default_variant }}"
        data-base-url="{{ shop.url }}{{ routes.root_url }}"
      >
      </div>

    </div>
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  };
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>



{% schema %}
{
  "name": "t:sections.product-template.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": "t:sections.product-template.settings.show_quantity_selector.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:sections.product-template.settings.show_vendor.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "t:sections.product-template.settings.enable_payment_button.label",
      "info": "t:sections.product-template.settings.enable_payment_button.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "t:sections.product-template.settings.show_share_buttons.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.product-template.settings.header__1.content",
      "info": "t:sections.product-template.settings.header__1.info"
    },
    {
      "type": "select",
      "id": "media_size",
      "label": "t:sections.product-template.settings.media_size.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.product-template.settings.media_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.product-template.settings.media_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.product-template.settings.media_size.options__3.label"
        },
        {
          "value": "full",
          "label": "t:sections.product-template.settings.media_size.options__4.label"
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "t:sections.product-template.settings.enable_image_zoom.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.product-template.settings.enable_video_looping.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "t:sections.product-template.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.product-template.blocks.price.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.product-template.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "description",
      "name": "t:sections.product-template.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.product-template.blocks.share.name",
      "limit": 1
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.product-template.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.product-template.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.product-template.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    }
  ]
}
{% endschema %}
