<div class="page-width" data-section-id="{{ section.id }}" data-section-type="quotes">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="quotes-wrapper" data-slider>
      <div class="quotes-slider-wrapper" data-slider-container>
        <div class="quotes-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}" data-slider-track>
          {% for block in section.blocks %}
            <div id="slickSlide{{ block.id }}"
              class="quotes-slide quotes-slide--{{ block.id }}{% if section.blocks.size == 1 %} quotes-slide--single{% endif %}"
              aria-labelledby="slickDot{{ block.id }}"
              {{ block.shopify_attributes }}
              data-slider-slide-index="{{ forloop.index0 }}"
              data-slider-item>

              <blockquote class="quotes-slider__text text-center">
                <span class="quote-icon">{% render 'icon-quote' %}</span>
                {% if block.settings.quote != blank %}
                  <div class="rte-setting rte">{{ block.settings.quote }}</div>
                {% endif %}
                {% if block.settings.author != blank %}
                  <cite>{{ block.settings.author | escape }}</cite>
                {% endif %}
              </blockquote>
            </div>
          {% endfor %}
        </div>
      </div>

      {% if section.blocks.size > 1 %}
        <ul class="slick-dots{% if section.blocks.size < 4 %} slick-dots--mobile-only{% endif %}" data-slider-indicators>
          {%- for block in section.blocks -%}
            <li{% if forloop.first %} class="slick-active"{% endif %} data-slider-indicator>
              <button id="slickDot{{ block.id }}"
                aria-label="{{ 'sections.slideshow.load_slide' | t: slide_number: forloop.index }}"
                data-slide-number="{{ forloop.index0 }}"
                aria-controls="slickSlide{{ block.id }}"></button>
            </li>
          {%- endfor -%}
        </ul>
      {% endif %}
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% render 'no-blocks' %}
  {% endif %}
</div>



{% schema %}
{
  "name": "t:sections.quotes.name",
  "class": "index-section",
  "max_blocks": 9,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.quotes.settings.title.label",
      "default": "Testimonials"
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "t:sections.quotes.blocks.quote.name",
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": "t:sections.quotes.blocks.quote.settings.quote.label",
          "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
        },
        {
          "type": "text",
          "id": "author",
          "label": "t:sections.quotes.blocks.quote.settings.author.label",
          "default": "Author's name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.quotes.presets.name",
      "category": "t:sections.quotes.presets.category",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}
